# Covid-19’s Impact on Airport Traffic

## Import Packages

In [4]:
import pandas as pd
import numpy as np
import datetime
import os
import json

In [6]:
import fiona
import geopandas as gpd
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objects as go
import plotly.express as px
import folium

In [7]:
#%pip install bokeh
from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar, NumeralTickFormatter
from bokeh.palettes import brewer

from bokeh.io.doc import curdoc
from bokeh.models import Slider, HoverTool, Select
from bokeh.layouts import widgetbox, row, column

## Read in Datasets (Partly Preprocessed with PySpark)

In [22]:
# aggregated flight data - only need the US data
df_flight = pd.read_csv('flight_result.csv',names=['Month','Airport','City','State','Country','Percentage'])
df_flight=df_flight.loc[df_flight['Country']=='United States of America (the)']
df_flight

,Month,Airport,City,State,Country,Percentage
0,3,Boston Logan International,Boston,Massachusetts,United States of America (the),80.6875
2,3,Charlotte Douglas International,Charlotte,North Carolina,United States of America (the),73.0000
3,3,Chicago OHare International,Chicago,Illinois,United States of America (the),77.8125
4,3,Dallas/Fort Worth International,Grapevine,Texas,United States of America (the),70.9375
5,3,Daniel K. Inouye International,Urban Honolulu,Hawaii,United States of America (the),95.0000
...,...,...,...,...,...,...
213,10,Miami International,Miami Springs,Florida,United States of America (the),66.6250
216,10,Newark Liberty International,Newark,New Jersey,United States of America (the),98.9375
217,10,San Francisco International,South San Francisco,California,United States of America (the),51.6250
219,10,Seattle-Tacoma International,SeaTac,Washington,United States of America (the),68.0625
222,10,Washington Dulles International,Floris,Virginia,United States of America (the),64.1250

In [10]:
# aggregated covid stats data
df_cases = pd.read_csv('case_final.csv')
df_cases.rename(columns={'state':'State'},inplace=True)
df_cases

,State,1,2,3,4,5,6,7,8,9,10,11,12
0,Alabama,0.0,0.0,1063.0,6124.0,11013.0,20277.0,49789.0,38234.0,28272.0,38841.0,55911.0,20353.0
1,Alaska,0.0,0.0,129.0,231.0,124.0,658.0,2574.0,2457.0,2672.0,7510.0,16221.0,4460.0
2,AmericanSamoa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Arizona,1.0,0.0,1288.0,6366.0,12281.0,59292.0,94782.0,27825.0,16672.0,27439.0,80871.0,37459.0
4,Arkansas,0.0,0.0,523.0,2758.0,3972.0,13524.0,21734.0,18713.0,22473.0,28493.0,45169.0,13565.0
5,California,3.0,9.0,8221.0,41897.0,61821.0,119467.0,269138.0,211919.0,106640.0,113028.0,298121.0,136409.0
6,Colorado,0.0,0.0,2966.0,12318.0,11094.0,6337.0,14094.0,10615.0,13112.0,36814.0,125555.0,27676.0
7,Connecticut,0.0,0.0,3128.0,24572.0,14501.0,4313.0,3296.0,3069.0,4671.0,13657.0,46088.0,10420.0
8,Delaware,0.0,0.0,319.0,4415.0,4764.0,1976.0,3314.0,2641.0,3184.0,4338.0,10703.0,4258.0
9,DistrictofColumbia,0.0,0.0,495.0,3828.0,4478.0,1526.0,1799.0,1866.0,1334.0,1940.0,4286.0,1584.0
10,Florida,0.0,0.0,6741.0,26949.0,22473.0,96271.0,317952.0,153085.0,83045.0,96031.0,196772.0,58755.0
11,Georgia,0.0,0.0,3929.0,22335.0,20799.0,34228.0,105061.0,84119.0,47555.0,42764.0,110773.0,29842.0
12,Guam,0.0,0.0,69.0,76.0,27.0,85.0,99.0,1039.0,1093.0,2193.0,2171.0,107.0
13,Hawaii,0.0,0.0,204.0,414.0,34.0,265.0,1194.0,6361.0,4125.0,2687.0,2939.0,619.0
14,Idaho,0.0,0.0,515.0,1469.0,855.0,3278.0,14599.0,11365.0,9967.0,22560.0,37090.0,8812.0
15,Illinois,2.0,0.0,5992.0,46924.0,67342.0,22925.0,36930.0,56609.0,58996.0,120827.0,309757.0,61269.0
16,Indiana,0.0,0.0,2158.0,15677.0,16739.0,11020.0,20560.0,28042.0,25823.0,59339.0,159619.0,42640.0
17,Iowa,0.0,0.0,497.0,6648.0,12407.0,9522.0,15679.0,20386.0,24108.0,39263.0,102121.0,14060.0
18,Kansas,0.0,0.0,434.0,3979.0,5287.0,4670.0,12994.0,15235.0,18576.0,25768.0,72972.0,11449.0
19,Kentucky,0.0,0.0,628.0,4080.0,4996.0,5920.0,14527.0,18245.0,20444.0,38379.0,71822.0,21590.0
20,Louisiana,0.0,0.0,5237.0,22764.0,11915.0,18179.0,58185.0,32614.0,18564.0,19191.0,45765.0,18709.0
21,Maine,0.0,0.0,303.0,792.0,1230.0,928.0,659.0,617.0,860.0,1273.0,5095.0,1591.0
22,Maryland,0.0,0.0,1660.0,20082.0,31036.0,14781.0,20787.0,19903.0,16476.0,20556.0,53089.0,16657.0
23,Massachusetts,1.0,1.0,9922.0,56943.0,30393.0,7180.0,7396.0,9182.0,11098.0,26460.0,67556.0,30712.0
24,Michigan,0.0,0.0,7951.0,35527.0,19233.0,8017.0,19846.0,22451.0,24989.0,59392.0,191536.0,37634.0
25,Minnesota,0.0,0.0,629.0,4507.0,19714.0,11453.0,18160.0,21401.0,23270.0,49338.0,170291.0,32099.0
26,Mississippi,0.0,0.0,937.0,5878.0,8708.0,11724.0,31500.0,24203.0,15240.0,21970.0,33110.0,11661.0
27,Missouri,0.0,0.0,1550.0,6406.0,5617.0,8239.0,28804.0,35019.0,41080.0,59277.0,120214.0,23214.0
28,Montana,0.0,0.0,198.0,255.0,62.0,452.0,2998.0,3456.0,5650.0,19730.0,29397.0,5677.0
29,Nebraska,0.0,0.0,172.0,4109.0,9820.0,5076.0,7034.0,8076.0,11277.0,25168.0,57675.0,11427.0
30,Nevada,0.0,0.0,1114.0,3939.0,3575.0,9828.0,29632.0,21140.0,10752.0,20781.0,51410.0,15969.0
31,NewHampshire,0.0,0.0,357.0,1789.0,2505.0,1131.0,801.0,692.0,991.0,2818.0,9946.0,3858.0
32,NewJersey,0.0,0.0,18696.0,99956.0,41793.0,11222.0,9993.0,10300.0,13315.0,32611.0,99418.0,30712.0
33,NewMexico,0.0,0.0,315.0,3096.0,4278.0,4458.0,8453.0,4752.0,4083.0,17055.0,50605.0,10993.0
34,NewYork,0.0,0.0,75853.0,228519.0,66398.0,22684.0,21560.0,19742.0,23893.0,48894.0,140437.0,57847.0
35,NorthCarolina,0.0,0.0,1578.0,9542.0,18394.0,37712.0,58452.0,47201.0,37753.0,64003.0,89877.0,30478.0
36,NorthDakota,0.0,0.0,122.0,945.0,1510.0,999.0,2893.0,5347.0,10030.0,22070.0,35336.0,3729.0
37,NorthernMarianaIslands,0.0,0.0,2.0,12.0,8.0,8.0,12.0,14.0,14.0,22.0,14.0,3.0
38,Ohio,0.0,0.0,2199.0,15828.0,17486.0,16276.0,39370.0,31996.0,30832.0,61710.0,205366.0,53961.0
39,Oklahoma,0.0,0.0,568.0,3050.0,2800.0,7339.0,22730.0,22246.0,28466.0,35563.0,74983.0,18741.0
40,Oregon,0.0,1.0,689.0,1820.0,1733.0,4413.0,9836.0,8221.0,6796.0,11412.0,30510.0,9065.0
41,Pennsylvania,0.0,0.0,4963.0,43008.0,28158.0,15010.0,25648.0,22008.0,25304.0,48692.0,154044.0,56265.0
42,PuertoRico,0.0,0.0,239.0,710.0,339.0,405.0,4304.0,9479.0,8524.0,10138.0,18407.0,4126.0
43,RhodeIsland,0.0,0.0,488.0,8133.0,6307.0,1885.0,2209.0,2927.0,2799.0,8126.0,23849.0,5414.0
44,SouthCarolina,0.0,0.0,1083.0,5012.0,5766.0,24538.0,52617.0,29976.0,28950.0,28670.0,40875.0,14612.0
45,SouthDakota,0.0,0.0,108.0,2341.0,2544.0,1771.0,2000.0,4745.0,8880.0,23603.0,34472.0,5527.0
46,Tennessee,0.0,0.0,2391.0,8344.0,11831.0,20943.0,62450.0,48974.0,41206.0,64533.0,113821.0,26101.0
47,Texas,0.0,0.0,3809.0,24939.0,35925.0,98458.0,276502.0,196325.0,141787.0,163567.0,297440.0,83986.0
48,Utah,0.0,0.0,888.0,3784.0,5125.0,12420.0,17979.0,11911.0,20935.0,41614.0,81050.0,19701.0
49,Vermont,0.0,0.0,293.0,573.0,115.0,227.0,206.0,210.0,128.0,427.0,1993.0,843.0
50,VirginIslands,0.0,0.0,30.0,36.0,3.0,12.0,325.0,728.0,184.0,58.0,168.0,89.0
51,Virginia,0.0,0.0,1249.0,14598.0,28760.0,18180.0,27101.0,30706.0,27677.0,32919.0,56645.0,17218.0
52,Washington,0.0,6.0,5425.0,8895.0,7375.0,11122.0,22979.0,18832.0,12887.0,19979.0,57518.0,12428.0
53,WestVirginia,0.0,0.0,162.0,963.0,885.0,895.0,3674.0,3670.0,5601.0,8610.0,23382.0,7155.0
54,Wisconsin,0.0,0.0,1412.0,5442.0,11549.0,10256.0,24281.0,22663.0,46671.0,115595.0,173861.0,29337.0
55,Wyoming,0.0,0.0,109.0,450.0,344.0,584.0,1239.0,1124.0,2098.0,7350.0,20007.0,2913.0

In [23]:
# prepare the mega table used for plotting -> add a column cases in the flight df

month_lst = df_flight['Month'].values
state_lst = df_flight['State'].values
merged_list = [(month_lst[i], state_lst[i]) for i in range(0, len(month_lst))] 

def getCases(state,month):
    return df_cases[df_cases['State']==state][month].values[0]

case_lst = []
for tup in merged_list:
    state = tup[1].replace(' ','')
    month = str(tup[0])
    res = getCases(state,month)
    case_lst.append(res)

df_flight['Cases']=case_lst

In [24]:
# the final mega table with all the info we need
df_flight

,Month,Airport,City,State,Country,Percentage,Cases
0,3,Boston Logan International,Boston,Massachusetts,United States of America (the),80.6875,9922.0
2,3,Charlotte Douglas International,Charlotte,North Carolina,United States of America (the),73.0000,1578.0
3,3,Chicago OHare International,Chicago,Illinois,United States of America (the),77.8125,5992.0
4,3,Dallas/Fort Worth International,Grapevine,Texas,United States of America (the),70.9375,3809.0
5,3,Daniel K. Inouye International,Urban Honolulu,Hawaii,United States of America (the),95.0000,204.0
...,...,...,...,...,...,...,...
213,10,Miami International,Miami Springs,Florida,United States of America (the),66.6250,96031.0
216,10,Newark Liberty International,Newark,New Jersey,United States of America (the),98.9375,32611.0
217,10,San Francisco International,South San Francisco,California,United States of America (the),51.6250,113028.0
219,10,Seattle-Tacoma International,SeaTac,Washington,United States of America (the),68.0625,19979.0
222,10,Washington Dulles International,Floris,Virginia,United States of America (the),64.1250,32919.0

## Build Reactive Plot with Bokeh
* reference: https://jimking100.github.io/2019-09-04-Post-3/
* geojson data for US states boundaries: https://eric.clst.org/tech/usgeojson/

In [13]:
#prepare the geo info
us_states_path = 'gz_2010_us_040_00_5m.json'
cur_json = json.load(open(us_states_path, encoding='ISO-8859-1'))
path,ext = os.path.splitext(us_states_path)
new_path =path+"_new"+ext
with open(new_path,"w", encoding='utf-8') as jsonfile:
    json.dump(cur_json,jsonfile,ensure_ascii=False)
us_states = gpd.read_file(new_path, driver='GeoJSON')

In [14]:
# Set the Coordinate Referance System (crs) for projections
# ESPG code 4326 is also referred to as WGS84 lat-long projection
us_states.crs = {'init': 'epsg:4326'}
us_states=us_states.rename(columns={'NAME':'State'})
us_states.drop([1],axis=0,inplace=True)

In [15]:
# Create a function the returns json_data for the month selected by the user
def json_data(selectedMon):
    mon = selectedMon
    
    # Pull selected year from neighborhood summary data
    df_mon = df_flight[df_flight['Month']==mon]
    
    # Merge the GeoDataframe object (sf) with the neighborhood summary data (neighborhood)
    merged = pd.merge(us_states, df_mon, on='State', how='left')
    
    # Bokeh uses geojson formatting, representing geographical features, with json
    # Convert to json
    merged_json = json.loads(merged.to_json())
    
    # Convert to json preferred string-like object 
    json_data = json.dumps(merged_json)
    return json_data

In [16]:
def update_plot(attr, old, new):
    
    # The input yr is the year selected from the slider
    mon = slider.value
    new_data = json_data(mon)
    
    # The input cr is the criteria selected from the select box
    cr = select.value
    input_field = format_df.loc[format_df['verbage'] == cr, 'field'].iloc[0]
    
    # Update the plot based on the changed inputs
    p = make_plot(input_field)
    
    # Update the layout, clear the old document and display the new document
    layout = column(p, widgetbox(select), widgetbox(slider))
    curdoc().clear()
    curdoc().add_root(layout)
    
    # Update the data
    geosource.geojson = new_data

In [17]:
# Create a plotting function
def make_plot(field_name):    
    # Set the format of the colorbar
    min_range = format_df.loc[format_df['field'] == field_name, 'min_range'].iloc[0]
    max_range = format_df.loc[format_df['field'] == field_name, 'max_range'].iloc[0]
    field_format = format_df.loc[format_df['field'] == field_name, 'format'].iloc[0]
    
    # Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
    color_mapper = LinearColorMapper(palette = palette, low = min_range, high = max_range)
    # Create color bar.
    format_tick = NumeralTickFormatter(format=field_format)
    color_bar = ColorBar(color_mapper=color_mapper, label_standoff=18, formatter=format_tick, border_line_color=None, location = (0, 0))
    
    # Create figure object.
    verbage = format_df.loc[format_df['field'] == field_name, 'verbage'].iloc[0]
    p = figure(title = verbage, plot_height = 650, plot_width = 1350, toolbar_location = None)
    p.xgrid.grid_line_color = None
    p.ygrid.grid_line_color = None
    p.axis.visible = False
    
    # Add patch renderer to figure. 
    p.patches('xs','ys', source = geosource, fill_color = {'field' : field_name, 'transform' : color_mapper}, line_color = 'black', line_width = 0.25, fill_alpha = 1)
    
    # Specify color bar layout.
    p.add_layout(color_bar, 'right')
    
    # Add the hover tool to the graph
    p.add_tools(hover)
    return p

In [18]:
#color bar
format_data = [('Cases',0,200000,'0','Newly Increased COVID-19 Cases'),
              ('Percentage',0,100,'0.0','Percentage of Flight Compared to Baseline Period(Jan|Feb)')]
format_df = pd.DataFrame(format_data, columns = ['field' , 'min_range', 'max_range' , 'format', 'verbage'])

In [19]:
geosource = GeoJSONDataSource(geojson = json_data(3))
input_field = 'Cases'

# Define a sequential multi-hue color palette.
palette = brewer['Blues'][8]

# Reverse color order so that dark blue is highest obesity.
palette = palette[::-1]

hover = HoverTool(tooltips = [ ('Airport','@Airport'),('State','@State'),('City', '@City'),('%flights', '@Percentage{,}'),('#new cases', '@Cases{,}')])
p = make_plot(input_field)
                  
# Make a slider object: slider 
slider = Slider(title = 'Month of 2020',start = 3, end = 10, step = 1, value = 3)
slider.on_change('value', update_plot)

# Make a selection object: select
select = Select(title='Select Criteria:', value='Newly Increased COVID-19 Cases', options=['Newly Increased COVID-19 Cases','Percentage of Flight Compared to Baseline Period(Jan|Feb)'])
select.on_change('value', update_plot)

# Make a column layout of widgetbox(slider) and plot, and add it to the current document
# Display the current document
layout = column(p, widgetbox(select),widgetbox(slider))
curdoc().add_root(layout)

BokehDeprecationWarning: 'WidgetBox' is deprecated and will be removed in Bokeh 3.0, use 'bokeh.models.Column' instead
BokehDeprecationWarning: 'WidgetBox' is deprecated and will be removed in Bokeh 3.0, use 'bokeh.models.Column' instead

In [ ]:
# running this command can create a static plot without the reactive components
show(p)

In [ ]:
#command for a reactive fully working plot: python -m bokeh serve --show demo-notebook.ipynb (run this in virtual env terminal)